body{
	background-color: aqua;
}

#h1{
	font-family:Cursive;
	color: blue;
}

#user_name{
	width: 600px;
	background-color : red;
}

#img{
	height: 200px;
}

#login_button{
	width: 300px;
}

#room_name{
	width: 600px;
	background-color : blue;
}

#logout
{
	font-size: 20px; float: right;
}

#back
{
	font-size: 20px; float: left;
}

#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}

#h2{
	font-family:Cursive;
	color: red;
}

.input_div_message_page
{
	bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
	float: center;
}

.user_tick
{
	width:20px;
}

#send{
	width: 200px;
}